:root {
    --accent-color: #2E2F42;
    --CLOUD: #F4F4FD;
    --IRIS: #4D5AE5;
    --OCEAN: #404BBF;
    --GREEN:#31D0AA;
    --SLATE: #434455;
    --WHITE: #FFF;
    --NAVY-BLUE-modal: rgba(46, 47, 66, 0.40);
}

   
   /*  ==== reset===== */
   
   h1,h2,h3,p{
       margin: 0;
   }
   
   ul{
       list-style: none;
       margin: 0;
       padding: 0;
   }
   
   img {
       display: block;
   }
   
   /* ====/reset ====*/
   


   .container{
       padding-left: 16px;
       padding-right: 16px;
       margin: 0 auto;
   }

   @media screen and (min-width: 768px) {
        .container {
            width: 768px;
    }
   }

   @media screen and (min-width: 1158px) {   
        .container {
            width: 1158px;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
   
   .list {
     list-style: none;
     display: flex;
   }
   
   .link {
       text-decoration: none;
   }
   
   body {
       font-family: 'Roboto', sans-serif; 
       color: #434455;
       background-color: #FFFFFF;
   }
   

   /* ========= HEADER =========*/ 

   .conteiner-header{
    display: flex;
       border-bottom: 1px solid #e7e9fc;
       box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
   }

   @media screen  and (max-width: 767.98px){
    .conteiner-header{
        padding-top: 24px;
        padding-bottom: 24px;
    }
   }

   @media screen and (min-width: 768px) {  
   .conteiner-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    }
}


   
   .page-nav{
        display: flex;
        margin-right: auto;
        padding: 0px;
        align-items: center;
}
   .logo {
       color: var(--IRIS, #4D5AE5);
       font-family: 'Raleway', sans-serif;
       font-size: 18px;
       font-weight: 800;
       line-height: 1.17; 
       letter-spacing: 0.54px;
       text-transform: uppercase;
       display: inline-flex;
       height: 24px;
       align-items: center;
       margin-right: 0px;
       position: relative;    
   }

   .link-logo-web {
        color: var(--NAVY-BLUE, #2E2F42);
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-transform: uppercase;
}


@media screen and (max-width: 767px) {   
    .logo {
    }
}
@media screen and (min-width: 1158px) {   
    .logo {  
}
}

.header-mob-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 22px;
    background-color: transparent;
    cursor: pointer;
    border:none;
   
    outline: none;
}

@media screen and (min-width: 768px) {   
    .header-mob-btn{
        display: none;
    }
}



.header-mob-icon{
    stroke-width: 3px;
    stroke: var(--NAVY-BLUE, #2E2F42);
}

@media (min-width: 768px) {
    .menu-toggle {
      display: none;
    }
  }

   .menu{
    display: none;
       gap: 40px;
   }

   @media screen and (min-width: 768px) {
        .menu{
           display: inline-flex;
           margin-left: 120px;
           gap: 40px;
       }

        .menu-link{
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
       }
    
       .menu-link::after{
            content: '';
            position: absolute;
            left: 0%;
            width: 100%;
            height: 4px;
            bottom:-1px;
            border-radius: 2px;
            background-color: transparent;
       }
       
       .menu-link.current-page{
            color: var(--OCEAN);
            position: relative;
       }
       .menu-link.current-page::after{
            background: var(--OCEAN, #404BBF);
       }
       .menu-link {
           color: var(--NAVY-BLUE, #2E2F42);
           font-size: 16px;
           font-weight: 500;
           line-height: 1.5;
           letter-spacing: 0.32px;
           padding: 24px 0;
           display: block;
       }
       
       .menu-link:hover,
       .menu-link:focus {
         color: #404BBF;  
       } 
    }
    
    @media screen and (min-width: 1158px) {   
        .menu{
               gap: 40px;
               margin-left: 76px;
           }
    }

    .adress-nav{
        display: none;
    }

    @media screen and (min-width: 768px) {
       .adress-nav{
        display: flex;
           font-style: normal;
           align-items: center;
       }
       
       .contact{
           display: flex;
           flex-direction: column;
           gap: 12px;
           padding-right: 0px;
       }
       .contact-text {
           color: #434455;
           letter-spacing: 0.02em;
           line-height: 1.5;
           font-size: 12px;
           font-weight: 400;
           transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
       
       .contact-text:hover,
       .contact-text:focus {
         color: #404BBF;  
       } 
}

@media screen and (min-width: 1158px) {
    .adress-nav{
        display: flex;
    }
    .contact{
        display: flex;
        flex-direction: row;
        gap:40px;
    }

    .contact-text {
           font-size: 16px;
}    
        
}


/* =================== /HEADER ======================*/ 




/* ===================== MAIN ======================*/
/* ========= hero ==========*/
.hero {
    box-sizing: border-box;
    padding: 112px 0;
    background: var(--NAVY-BLUE, #2E2F42);
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)), 
    url(../images/bg/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .hero {
        width: 768px;
    }
}

@media screen and (min-width: 1158px) {   
    .hero {
        width: 1158px;
    }
}

.title-hero {
    color: var(--WHITE, #FFF);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    margin: 0 auto;
    margin-bottom: 72px;
    max-width: 320px;
    text-transform: capitalize;
}

@media screen and (min-width: 768px) {
    .title-hero {
        color: var(--WHITE, #FFF);
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 1.12px;
        margin: 0 auto;
        margin-bottom: 48px;
        max-width: 496px;
    }
}

.hero-btn {
    background: #4D5AE5;
    font-family: "Roboto", sans-serif;
    color: var(--WHITE, #FFF);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    cursor:pointer;
    border-radius: 4px;
    padding: 16px 32px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    margin: 0 auto;

    transition: background-color 250ms  cubic-bezier(0.4, 0, 0.2, 1);

}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
}
/* ======= /hero ==========*/


/* ======= section 1 ======*/
.main-one{
    padding-top: 96px;
    padding-bottom: 96px;
}


@media screen and (min-width: 1158px) {   
    .main-one{
        padding: 120px 0;
    }
}

.recorces-list{
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
}

@media screen and (min-width: 768px) {
    .recorces-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap:72px 24px;
    }
}

@media screen and (min-width: 1158px) {   
    .recorces-list{
        display: flex;
        gap: 24px;
    }
}


.recorces-list-block{
    width: 396px;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .recorces-list-block{
        width: 356px;
        padding: 0;
    }
}

@media screen and (min-width: 1158px) {   
    .recorces-list-block{
        width: 264px;
        padding: 0;
    }
}

.recorces-icons-block{
    display: none;
}


@media screen and (min-width: 1158px) {   
    .recorces-icons-block{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 112px;
        border-radius: 4px;
        background-color:  #F4F4FD;
        margin-bottom: 8px;
    }
}

.recorces-list-title {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    margin-bottom: 8px;
    text-align: center;
}

@media screen and (min-width: 768px) {   
    .recorces-list-title {
        text-align: left;
    }
}
@media screen and (min-width: 1158px) {   
    .recorces-list-title {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.4px;
    }
}

.recorces-list-text {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px; 
}

@media screen and (min-width: 1158px) {   
    .recorces-list-text {
        font-weight: 400;
    }
}
/* ======= /section 1 ======*/


/* ======= section 2 ======*/
.container-two{
   display: none;
}

@media screen and (min-width: 1158px) {   
    .container-two{
        display: block;
        padding-bottom: 120px;
    }
}

.doing-list{
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.img-list{
    display: flex;
    justify-content: center;
    align-items: center
    ;
    gap: 24px;
}
/* ======= /section 2 ======*/


/* ======= section 3 ======*/
.conteiner-three{
    background-color: #F4F4FD;
    padding: 96px 0px;
}

@media screen and (min-width: 768px) {
    .conteiner-three{
        width: 768px;
        padding: 96px 0px;
    }
}

@media screen and (min-width: 1158px) {   
    .conteiner-three{
        width: 1158px;
        padding: 120px 15px;
        margin: 0 auto;
    }
}

.team-title {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 72px;
}

@media screen and (min-width: 768px) {
    .team-list{
        row-gap: 64px;
        gap: 72px 24px;
        justify-content: center;
    }
}

@media screen and (min-width: 1158px) {   
    .team-list{
        gap: 24px;
        justify-content: center;
    }
}

.team-person{
    width: 264px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
    .team-list{
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        justify-content: center;
    }
}

@media screen and (min-width: 1158px) {   
    .team-list{
        gap: 24px;
        justify-content: center;
    }
}

.text-card{
    padding: 32px 0px;
    
}
.title-img-team {
    color: var(--accent-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    text-align: center;
    margin-bottom: 8px;
   
}

.text-img-team {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-align: center;
    margin-bottom: 8px;
}

.tim-list-icons{
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.tim-item-icons{
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0, 0.2,1);
}

.tim-icons-link{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--IRIS);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    fill: var(--OCEAN);
    
    transition: background-color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-tim{
    fill: var(--CLOUD);
}

.tim-icons-link:hover,
.tim-icons-link:focus {
    background-color: var(--OCEAN);
}
/* ======= /section 3 ======*/


/* ======= section 4 ======*/
.main-four{
    padding-top: 96px;
    padding-bottom: 96px;
    background-color:var(--WHITE);
}

@media screen and (min-width: 768px) {   
    .main-four{
        width: 768px;
    }
}

@media screen and (min-width: 1158px) {   
    .main-four{
        width: 1158px;
        padding: 120px 15px;
        background-color:var(--WHITE);
        margin: 0 auto;
    }
}



.title-costomers{
    color: var(--accent-color);
    text-align: center;
    line-height: 1.11;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.customers-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:  72px 16px;
}

@media screen and (min-width: 768px) {
    .customers-list{
        gap: 24px;
    }
}

@media screen and (min-width: 1158px) {   
    .customers-list{
        gap: 24px;
    }
}

.costomers-list-block{
    width: 168px;
    height: 88px;
}

@media screen and (min-width: 428px) {
    .costomers-list-block{
        width: 190px;
    }
}

@media screen and (min-width: 768px) {
    .costomers-list-block{
        width: 168px;
    }
}
.costomers-icons-block{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    color: #8E8F99;
    padding: 16px 32px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.costomers-icons-block:hover,
.costomers-icons-block:focus {
    color: var(--OCEAN);
}

.customers-icons{
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-icons:hover,
.customers-icons:focus {
    fill: var(--OCEAN);
}
/* ======= section 4 ======*/

/* ===================== /MAIN ================== */



/* ==================== FOOTER ================== */

.page-footer{

    background: var(--accent-color);
}
.conteiner-footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 72px;
    padding-top: 96px;
    padding-bottom: 96px; 
}

@media screen and (min-width: 768px) {
    .conteiner-footer{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: flex-start;
        width: 584px;
    }
}

@media screen and (min-width: 1158px) {   
    .conteiner-footer{
        display: flex;
        align-items: baseline;
        padding: 100px 15px; 
        margin: 0 auto;
        width: 1158px;
    }
}


.logo-footer {
    color: #F4F4FD;
}


.logo-footer-centre{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}
    
@media screen and (min-width: 768px) {
    .logo-footer-centre{
            display: block;
    }
}
    
@media screen and (min-width: 1158px) {   
    .logo-footer-text { 
        margin-right: 120px;
    }
}
.text-footer {
    color: var(--CLOUD, #F4F4FD);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    width: 264px;
    margin-right: 0px;
}

@media screen and (min-width: 1158px) {   
    .text-footer {
        margin-left: 0px; 
    }
}


@media screen and (min-width: 768px) { 
    .footer-social{
        margin-left: 24px;
    }
}
@media screen and (min-width: 1158px) { 
    .footer-social{
        margin-left: 0px;
        margin-right: 80px;
    }
}

.text-social-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--WHITE, #FFF);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

@media screen and (min-width: 768px) {   
    .text-social-footer{
        display: block;

    }
}
@media screen and (min-width: 1158px) {   
    .text-social-footer{
        display: block;
        margin-left: 0px;

    }
}

.footer-list-icons{
display: flex;
gap: 16px;
}

@media screen and (min-width: 768px) {
    .footer-list-icons{
        display: flex;
        gap: 16px;
        }
}

@media screen and (min-width: 1158px) {   
    .footer-list-icons{
        display: flex;
        gap: 16px;
        margin-left: 0px;
        }
}



.footer-item-icons{
    width: 40px;
    height: 40px;
}

.footer-icons-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--IRIS);
    width: 100%;
    height: 100%;
    border-radius: 50%;

    transition: background-color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons-link:hover,
.footer-icons-link:focus {
    background-color: var(--GREEN);
}

.svg-footer{
    fill: #f4f4fd;
}

/*====== form-footer =======*/
.div-subscribe{
width: 100%;
}
@media screen and (min-width: 768px) {   
    .div-subscribe{
        display: block;
        width: 453px;;
    }
}
.subscrabe-text{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--WHITE, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
    
}

@media screen and (min-width: 768px) {   
    .subscrabe-text{
        display: block;
    }
}
@media screen and (min-width: 1158px) {   
    .subscrabe-text{
        display: block;
    }
}
.form-footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 16px;
}

@media screen and (min-width: 768px) {   
    .form-footer{
        flex-wrap: nowrap;
        flex-direction: row;
    }
}
@media screen and (min-width: 1158px) {   
    .form-footer{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
    }
}

.label-footer{
    width: 100%;
}
.email-footer{
    color: var(--WHITE, #FFF);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.48px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid var(--WHITE, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 40px;
}

@media screen and (min-width: 768px) {
    .email-footer{
        width: 264px;
        height: 40px;
        margin-right: 24px;
    }
}

@media screen and (min-width: 1158px) {   
    .email-footer{
        width: 264px;
        height: 40px;
        padding-left: 16px;
        margin-right: 0px;
    }
}

.placeholder{
    color: var(--WHITE);
}

.subscribe-footer-btn{
    display: flex;
    color: var(--WHITE, #FFF);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    cursor: pointer;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    border: none;
}

.btn-footer-icon{
    fill: currentColor;
    margin-left: 16px;
}
/*====== /form-footer =======*/
/* ====================== /FOOTER ==================== */



/* ======================= PORTFOLIO ====================*/

.portfolio-nav{
    box-sizing: border-box;
    padding-top: 96px; 
    padding-bottom: 120px;
}

.list-portfolio{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 72px;
    justify-content: center;
}
.portfolio-btn {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    background-color: #F4F4FD;
    color: #4d5ae5; 
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }

.portfolio-btn:hover,
.portfolio-btn:focus {
    background-color: #404BBF;
    color: #FFFFFF;
    border: none;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.text-portfolio{
    padding: 32px 16px;
    border: 1px solid #e7e9fc; 
    border-top: none;
}
.card-portfolio{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}

.h2-portfolio{
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}
.team{
    background-color: #FFFFFF;
    cursor: pointer;
}

.box {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box:hover,
.box:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}



/*  ===== OVERLAY  =====  */
.overlay-box{
    position: relative;
    overflow: hidden;
    transition: transform 250ms  cubic-bezier(0.4, 0, 0.2, 1);

}

.box:hover .overlay,
.box:focus .overlay{
    transform: translateY(0%);
}

.overlay{
    position: absolute;
    color: var(--CLOUD);
    line-height: 1.5;
    letter-spacing: 0.02em;
    top: 0;
    font-size: 16px;
    padding: 40px 32px;
    background-color: var(--IRIS);
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4,0,0.2,1);
}

/* ======= /OVERLAY ======== */


.p-portfolio{
    font-family: Roboto;
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.32px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }
/* ================== /PORTFOLIO ================*/



/* ================== MODAL WINDOW ================*/
.backdrop{
    position: fixed;
    top: 0%;
    left: 0%;
    background: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    width: 100%;
    height: 100%;  
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 100%;
    min-height: 584px;
    border-radius: 4px;
    background: var(--DAIRY, #FCFCFC);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);    
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

@media screen and (min-width: 428px) {
    .modal{
        width: 392px;
    }
}

@media screen and (max-width: 1158px) {
    .modal{
        width: 408px;
    }
}

.modal-btn{
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    border: none;
    background-color: var(--OCEAN);
}

.modal-btn:hover .close-x,
.modal-btn:focus .close-x{
    fill: #FFFFFF;
}

.modal-btn-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    stroke: var(--accent-color);
}


/* ================== MODAL WINDOW ================*/
/*========= modal-form ==========*/
.modal-text{
    width: 360px;
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
    text-align: center;
}

.modal-label{
    color: var(--LIGHT-SLATE, #8E8F99);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.48px;
    display: block;
    margin-bottom: 4px;
}

.modal-icons{
    fill: #2E2F42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-conteiner-imput{
    position: relative;
}

.modal-form-div{
    margin-bottom: 8px;
    
}

.imput-form{
    padding: 11px 4px 11px 38px;
    width: 100%;
    height: 40px;
    color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.48px;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.imput-form:focus {
    border: 1px solid var(--IRIS, #4D5AE5);
}

.imput-form:focus + .modal-icons{
    fill: var(--IRIS, #4D5AE5);
}

.textaria-modal{
    color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17; 
    letter-spacing: 0.48px;
    height: 120px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    padding: 8px 16px;
    background-color: transparent;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textaria-modal:focus{
    border: 1px solid var(--IRIS, #4D5AE5);
}
.modal-form-coment{
    margin-bottom: 16px;
}

.user-checkbox{
    display: block;
    color: var(--LIGHT-SLATE, #8E8F99);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.48px;
}

.custom-checkbox{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked + .user-checkbox .custom-checkbox{
    fill: #F4F4FD;
    border: none;
    background-color: #404bbf;
}


.checkbox-policy{
    color: var(--IRIS, #4D5AE5);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.48px;
    text-decoration-line: underline;
}

.modal-checkbox{
    margin-bottom: 24px;
}

.send-button{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    color: var(--WHITE, #FFF);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    cursor:pointer;
    border-radius: 4px;
    padding: 16px 32px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-button:hover,
.send-button:focus {
    background-color: #404BBF;
}
/*========= modal-form ==========*/

/* ================== MODAL WINDOW ================*/

/*================ header mobile button ===========*/
.menu-container{
    display: flex; 
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 80px 35px 40px 40px;
    background-color: var(--WHITE);
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

@media screen and (min-width: 768px) {
    .menu-container{
        display: none;
    }
}


.menu-container.is-open {
    transform: translateX(0);
}

.menu-togglee {
    min-height: 24px;
    min-width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border-style: solid;
    border-radius: 1px;
    border-color: #E7E9FC;
    border-radius: 50%;
  }

  @media (min-width: 768px) {
    .menu-toggle {
      display: none;
    }
  }
  
  .menu-togglee:hover,
  .menu-togglee:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }

  
  .menu-container.is-open {
    transform: translateX(0);
  }
  
  .menu-container .menu-togglee {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
  }
  
.mobile-menu{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    margin-top: 80px;
    margin-bottom: auto;
}
  

 
  .mobile-menu-link {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
}

.mobile-menu-link.current-page{
     color: var(--OCEAN);
     position: relative;
}

.mobile-contact {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 48px;
}

.mobile-contact-tel {
    color: var(--IRIS);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11; 
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.mobile-contact-email{
    color: var(--SLATE, #434455);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}
.mobile-list-icons{
display: flex;
justify-content: center;
align-items: center;
gap: 56px;
}
